services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: rishav
      POSTGRES_PASSWORD: rishav
      POSTGRES_DB: todo_app
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U rishav -d todo_app"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
  app:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    develop:
      watch:
        - action: sync
          path: ./app
          target: /app
          ignore:
            - node_modules/
        - action: rebuild
          path: ./package.json
    environment:
      DB_TYPE: postgres
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: rishav
      DB_PASSWORD: rishav
      DB_NAME: todo_app
      NODE_ENV: development
      JWT_SECRET: your_jwt_secret_key
      PORT: 8000
      FRONTEND_URL: https://task-flow-swart-three.vercel.app
volumes:
  db-data: {}